.error-wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  }
.error{
    width: 500px;
    height: 500px;
    background: center url("../../assets/error.svg") no-repeat;
    background-size: contain;
}
  
.link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: 40px;
}